main {
    text-align: center;
    border: 0.5px solid rgb(101, 101, 101);
    box-shadow: 8px 8px 10px rgb(92, 92, 92);
    width: 350px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 0, 10px;
    border-radius: 5px;
    transition: 0.6s;
}

main:hover,
footer:hover,
img:hover {
    background-color: rgb(241, 201, 255);
    box-shadow: 40px 40px 40px rgb(95, 95, 95);
    transform: scale(1.1);
}

input {
    width: 258px;
    height: 36px;
    border: 2px;
    border-radius: 4px;
    padding-left: 20px;
}

button {
    color: white;
    font-weight: 500;
    height: 36px;
    width: 268px;
    border-radius: 10px;
    background-color: rgb(108, 152, 255);
    border: 1px;
}

#facebook {
    height: 15px;
    padding-right: 5px;
}

body {
    background-image: linear-gradient(rgb(224, 167, 255), white);
    background-size: contain;
}

.or {
    text-align: center;
    font-size: small;
    color: #393838;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.outer2 {
    display: inline;
}

.outer {
    display: inline-block;
}

#forgot {
    font-size: smaller;
}

footer {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    border: 0.5px solid rgb(174, 182, 189);
    width: 350px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

#app {
    text-align: center;
    margin-top: 30px;
}

#get1 {
    width: 120px;
}

select {
    border: none;
}

#get2 {
    width: 120px;
    height: 39px;
    border-radius: 5px;
}

#imgs {
    display: inline-block;
    margin-left: 42%;
    transition: 1s;
}

.botom {
    text-align: center;
}

#foot {
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: #393838;
}